<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="fr">
<head>
    <meta charset="utf-8">
    <title>Saisir un contact</title>
</head>

<body>
<div layout:fragment="content">
    <div class="col-md-4 col-xs-8">
        <div class="panel panel-primary">
            <div class="panel-heading">Saisir contact que vous n'avez pas encore</div>
            <div class="panel-body">
                <form th:action="@{/save}" method="post" th:object="${contact}">

                    <div class="form-group">
                        <label class="control-label"> nom : </label>
                        <input class="form-control" type="text" name="brand" th:value="${contact.name}">
                    </div>
                    <div class="form-group">
                        <label class="control-label"> prénom : </label>
                        <input class="form-control" type="text" name="description" th:value="${contact.firstname}">
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Price : </label>
                        <input class="form-control" type="text" name="price" th:value="${article.price}">
                    </div>
                    <div class="form-group">
                        <select name="category">
                            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>